.hero {
    min-height: calc(100vh + 100px);
    width: 100%;
    background: rgb(29, 48, 139);
    background: linear-gradient(
        90deg,
        rgba(29, 48, 139, 1) 0%,
        rgba(130, 218, 228, 1) 100%
    );
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 1.3rem;
    padding-top: 100px;
}
.text-container {
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
.hero p {
    font-size: 4.8rem;
    font-weight: bold;
    text-align: center;
    color: #0d1117;
}
.img-container {
    width: 40%;
    height: 80%;
}
.img-container img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 5px solid #86a0a3;
}

.type-animation {
    width: 100%;
    font-size: clamp(2rem, 8vw, 6rem);
    white-space: pre-line;
    text-align: center;
    padding: 0 10px;
}

@media (max-width: 1080px) {
    .hero {
        flex-direction: column;
        padding-top: 80px;
    }
    .img-container {
        height: 40%;
        width: 100%;
    }
    .text-container {
        height: 100%;
        width: 100%;
        align-items: center;
    }
    .type-animation {
        font-size: 3.2rem;
    }
    .hero p {
        font-size: 4rem;
    }
}

@media (max-width: 600px) {
    .hero {
        padding-top: 60px;
        padding: 1rem;
        padding-top: 60px;
    }
    .type-animation {
        font-size: 2rem;
        padding: 0 5px;
    }
    .hero p {
        font-size: 2.4rem;
    }
}
