.social{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 100px) !important;
    background-color: #496163;
    font-size: 1vmax;
}
.icon{
    width: 400px;
    height: 400px;
    color: #E3AB81;
}
.icon:hover{
    box-shadow: 0 0 5px;
}
