main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: calc(100vh - 50px) !important;
    width: 100%;
}
main h1{
    margin-top: 20px;
}
section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: calc(100vh - 50px) !important;
    width: 100%;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    width: 300px;
    height: 80%;
    color: #333;
    margin-bottom: 10px;
    border-radius: 10px;
}
.card img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 50%;
}
.card a{
    margin: 4px;
    padding: 4px;
    display: inline;
    text-decoration: none;
    background-color: lightslategray;
    border-radius: 5px;
    color: #fff;
}
.card a:hover{
    background-color: rgb(86, 98, 110);
}
.card p{
    padding: 0 4px;
    text-align: center;
}