main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: calc(100vh) !important;
    width: 100%;
    background-color: #86a0a3;
}
main h1 {
    font-size: 48px;
    min-height: 100px;
    color: black;
}
.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
    width: 100%;
    gap: 16px;
}

#card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #496163;
    max-width: 600px;
    width: 400px;
    min-width: 200px;
    height: 600px;
    color: #fff;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    
}
#card:hover {
    box-shadow: 0 0 20px;
    
}
#card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 50%;
}
#card a {
    width: 100%;
    height: 40px;
    display: inline;
    text-decoration: none;
    background-color: #c3d265;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#card a:hover {
    background-color: #b4ca20;
}
#card p{
    padding: 0 4px;
    text-align: center;
    font-size: 18px;
}
.visit {
    padding: 0 4px;
    text-align: center;
    font-size: 18px;
    color: #496163;

}

@media (max-width: 800px) {
    .cards-container {
        flex-direction: column;
        gap: 16px;
    }
}
