*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #86A0A3;
    z-index: 99;
}
.logo {
    background: url("../../assets/images/Logo3.png") no-repeat center
        center/cover;
    width: 100px;
    height: 100px;
    cursor: pointer;
}
menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}
menu li button {
    padding: 0 4px;
    margin-right: 4px;
    width: 150px;
    height: 100px;
    background-color: #86A0A3;
    border: none;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    color: black;
    font-weight: bold;
    font-size: 18px;
}
menu li button:hover {
    background-color: #667a7c;
    cursor: pointer;
    border-radius: 5px;
}
@media (max-width: 800px) {
    nav {
        flex-direction: column;
    }
    menu{
        display: none;
    }
}