* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #070707;
    opacity: 0.7;
    z-index: 99;
    height: 100px;
}
.logo {
    background: url("../../assets/images/JEEMLABS1.png") no-repeat center center;
    background-size: cover;
    width: 400px;
    height: 100px;
    cursor: pointer;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    flex-shrink: 0;
}
menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    list-style: none;
    gap: 4px;
}
menu li button {
    padding: 0 4px;
    margin-right: 4px;
    width: 150px;
    height: 100px;
    background-color: #070707;
    border: none;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    color: #fff;
    font-weight: bold;
    font-size: 1.8rem;
    white-space: nowrap;
}
menu li button:hover {
    background-color: #667a7c;
    cursor: pointer;
    border-radius: 5px;
    width: 200px;
}
menu li button:active {
    background-color: #667a7c;
}

@media (max-width: 900px) {
    menu {
        display: none;
    }
    nav {
        height: auto;
        padding: 0.5rem;
    }
    .logo {
        width: 200px;
        height: auto;
        min-height: 60px;
    }
}

@media (max-width: 600px) {
    nav {
        padding: 0.25rem;
    }
    .logo {
        width: 150px;
        min-height: 50px;
    }
}
